@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/kin1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* This color will show behind the image and extend indefinitely. */
  background-color: #1a202c;

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}